
.question-wrapper{
    margin: 110px 0 ;
}
.question-head{
    text-align: center;
    margin-bottom: 60px;
}
.question-head h5{
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--colors-heading);
    margin-bottom: 10px;
}
.question-title{
    font-size: 32px;
    margin-bottom: 30px;
    color: var(--heading_secondary);
}
.list-questions{
    width: 745px;
    margin: auto;
}
.question-item{ 
    padding: 16px 0;
    overflow: hidden;
    border-top: 1px solid #c2c2c2;
    transition: all 0.5s linear;
}
.question-item:first-child{
    border-top: none;
}

.question-item.active{
    
    height: auto;
}
.question-item.active .question-item-hide{
    height: auto;
    margin-top: 18px;
    opacity: 1;
    animation: showHide 0.5s linear ;
}
.question-item-top{
    line-height: 32px;
    display: flex;
    cursor: pointer;
}
.question-item-top i{
   
        margin-top: 6px;
        min-width: 18px ;
        text-align: center;
        
        line-height: 19px;
        margin-right: 18px;
        height: 18px ;
        font-size: 12px;
        border-radius: 50%;
        display: block;
        color: #fff;
        background-color: var(--colors-secondary);
    
}
.question-item-top .h3{
    margin-left: 16px;
}
.question-item-hide{
    height: 0;
    margin-left: 34px;
    font-size: 16px;
    line-height: 28px;
    opacity: 0;
}
@media screen and (max-width: 1024px) {
    .list-questions{
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-width: 768px) {
    .list-questions{
        width: 100%;
        margin: auto;
    }
    .question-item-top .h3{
        font-size: 16px;
        margin-left: 0;
    }
}

@keyframes showHide{
    0%{
        height: 0;
    }
    10%{
        height: 10px;
    }
    250%{
        height: 20px;
    }
    40%{
        height: 30px;
    }
    55%{
        height: 40px;
    }
    75%{
        height: 50px;
    }
    
    85%{
        height: 60px;
    }
    
    90%{
        height: 70px;
    }
    95%{
        height: 80px;
    }
    100%{
        height: max-content;
    }
}

  