

.btn{
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 30px;
  padding: 13px 30px;
  background-color: transparent;
  font-family: var(--font-base);
}
.btn-primary{
  color: white;
  font-size: 16px;
  font-weight: 500;
  border:  1px solid var(--colors-primary);
  border-radius: 30px;
  padding: 13px 30px;
  background-color: var(--colors-primary);
  font-family: var(--font-base);
}
.btn-primary:hover{
  box-shadow: 0 8px rgba(0, 0, 0, 0.1);
}
.btn:hover{
  color: var(--colors-text);
  background-color: white;
}

.wrapper{
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px){
  .wrapper {
    max-width: 760px;
  }
}
@media screen and (min-width: 1024px){
  .wrapper {
    max-width: 1020px;
  }
}
@media screen and (min-width: 1220px){
  .wrapper {
    max-width: 1210px;
  }
}

@media screen and (min-width: 1620px){
  .wrapper {
    max-width: 1310px;
  }
}






@media screen and (min-width: 480px){
  .wrapper {
    padding:  0 30px;
  }
}
@media screen and (max-width: 480px){
  .wrapper {
    padding:  0 30px;
  }
}
@media screen and (max-width: 1024px){
  .btn {
    padding: 10px 20px;
    font-size: 15px;
  }
}